<section class="hero">
    <h1>Éhes vagy? Rendelj egy finom hamburgert!</h1>
    <div>
      <a href='#menu'><button mat-button>Ajánlatok</button></a>
      <a routerLink="/menu"><button mat-button>Étlap</button></a>
    </div>
</section>
<section class="menu" id="menu">
  <h2>Aktuális ajánlataink</h2>
  <div class="container">
    <mat-card>
      <img src="../../../assets/img/burger.png">
      <h3>Sajtburger</h3>
      <p>Szezámos buci, 100% marhahúspogácsa, 2 szelet cheddar, paradicsom, uborka, jégsaláta.</p>
      <span>1590 Ft.</span>
      <button mat-button>Kosárba</button>
    </mat-card>
    <mat-card>
      <img src="../../../assets/img/burger.png">
      <h3>Sajtburger</h3>
      <p>Szezámos buci, 100% marhahúspogácsa, 2 szelet cheddar, paradicsom, uborka, jégsaláta.</p>
      <span>1590 Ft.</span>
      <button mat-button>Kosárba</button>
    </mat-card>
    <mat-card>
      <img src="../../../assets/img/burger.png">
      <h3>Sajtburger</h3>
      <p>Szezámos buci, 100% marhahúspogácsa, 2 szelet cheddar, paradicsom, uborka, jégsaláta.</p>
      <span>1590 Ft.</span>
      <button mat-button>Kosárba</button>
    </mat-card>
    <mat-card>
      <img src="../../../assets/img/burger.png">
      <h3>Sajtburger</h3>
      <p>Szezámos buci, 100% marhahúspogácsa, 2 szelet cheddar, paradicsom, uborka, jégsaláta.</p>
      <span>1590 Ft.</span>
      <button mat-button>Kosárba</button>
    </mat-card>
    <mat-card>
      <img src="../../../assets/img/burger.png">
      <h3>Sajtburger</h3>
      <p>Szezámos buci, 100% marhahúspogácsa, 2 szelet cheddar, paradicsom, uborka, jégsaláta.</p>
      <span>1590 Ft.</span>
      <button mat-button>Kosárba</button>
    </mat-card>
    <mat-card>
      <img src="../../../assets/img/burger.png">
      <h3>Sajtburger</h3>
      <p>Szezámos buci, 100% marhahúspogácsa, 2 szelet cheddar, paradicsom, uborka, jégsaláta.</p>
      <span>1590 Ft.</span>
      <button mat-button>Kosárba</button>
    </mat-card>
    <mat-card>
      <img src="../../../assets/img/burger.png">
      <h3>Sajtburger</h3>
      <p>Szezámos buci, 100% marhahúspogácsa, 2 szelet cheddar, paradicsom, uborka, jégsaláta.</p>
      <span>1590 Ft.</span>
      <button mat-button>Kosárba</button>
    </mat-card>
    <mat-card>
      <img src="../../../assets/img/burger.png">
      <h3>Sajtburger</h3>
      <p>Szezámos buci, 100% marhahúspogácsa, 2 szelet cheddar, paradicsom, uborka, jégsaláta.</p>
      <span>1590 Ft.</span>
      <button mat-button>Kosárba</button>
    </mat-card>
  </div>
</section >
<h2 class="ettermek" id="Restaurants">Éttermek</h2>
<section class="restaurants">
  <mat-card class="restaurant">
    <img src="../../../assets/img/bimo-luki-mwHzM7qB7vk-unsplash.jpg">
    <div class="overlay">
        <h3>Burger Delivery Nyugati</h3>
        <h4>1065. Budapest, Teréz krt. 40.</h4>
        <p>Nyitvatartás:</p>
        <ul>
          <li>Hétfőtől-Szombatig: 11:00 - 21:00</li>
          <li>Vasárnap: 12:00 - 19:00</li>
        </ul>
        <button mat-button>Útvonal</button>
    </div>
  </mat-card>
  <mat-card class="restaurant">
    <img src="../../../assets/img/jakub-kapusnak-4hgYULBzVEE-unsplash.jpg">
    <div class="overlay">
        <h3>Burger Delivery Nyugati</h3>
        <h4>1065. Budapest, Teréz krt. 40.</h4>
        <p>Nyitvatartás:</p>
        <ul>
          <li>Hétfőtől-Szombatig: 11:00 - 21:00</li>
          <li>Vasárnap: 12:00 - 19:00</li>
        </ul>
        <button mat-button>Útvonal</button>
    </div>
  </mat-card>
  <mat-card class="restaurant">
    <img src="../../../assets/img/tetiana-shevereva-ytL5sD333Qw-unsplash.jpg">
    <div class="overlay">
        <h3>Burger Delivery Nyugati</h3>
        <h4>1065. Budapest, Teréz krt. 40.</h4>
        <p>Nyitvatartás:</p>
        <ul>
          <li>Hétfőtől-Szombatig: 11:00 - 21:00</li>
          <li>Vasárnap: 12:00 - 19:00</li>
        </ul>
        <button mat-button>Útvonal</button>
    </div>
  </mat-card>
</section>
<section id="reviews">

</section>
