<div class="spinner" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoading">
  <div class="menu-category">
    <hr>
    <h2>Hamburgerek</h2>
    <hr>
  </div>
  <div class="menu-container" >
    <mat-card class="menu-item" *ngFor="let burger of burgers">
      <img src="../../assets/img/burger.png">
      <h3>{{burger.name}}</h3>
      <p>{{burger.description}}</p>
      <p class="price">{{burger.price}} Ft.</p>
      <div>
        <button mat-button (click)="addToCart(burger.id)">Kosárba<mat-icon>shopping_cart</mat-icon></button>
      </div>
      </mat-card>
    </div>
    <div class="menu-category">
      <hr>
      <h2>Köretek</h2>
      <hr>
    </div>
    <div class="menu-container" >
      <mat-card class="menu-item" *ngFor="let side of sides">
        <img src="../../assets/img/fries.png">
        <h3>{{side.name}}</h3>
        <p>{{side.description}}</p>
        <p class="price">{{side.price}} Ft.</p>
        <div>
          <button mat-button (click)="addToCart(side.id)">Kosárba<mat-icon>shopping_cart</mat-icon></button>
        </div>
        </mat-card>
      </div>
    <div class="menu-category">
      <hr>
      <h2>Italok</h2>
      <hr>
    </div>
    <div class="menu-container" >
      <mat-card class="menu-item" *ngFor="let drink of drinks">
        <img src="../../assets/img/cola.png">
        <h3>{{drink.name}}</h3>
        <p>{{drink.description}}</p>
        <p class="price">{{drink.price}} Ft.</p>
        <div>
          <button mat-button (click)="addToCart(drink.id)">Kosárba<mat-icon>shopping_cart</mat-icon></button>
        </div>
        </mat-card>
      </div>
    <div class="menu-category">
      <hr>
      <h2>Desszertek</h2>
      <hr>
    </div>
    <div class="menu-container" >
      <mat-card class="menu-item" *ngFor="let dessert of desserts">
        <img src="../../assets/img/pancakes.png">
        <h3>{{dessert.name}}</h3>
        <p>{{dessert.description}}</p>
        <p class="price">{{dessert.price}} Ft.</p>
        <div>
          <button mat-button (click)="addToCart(dessert.id)">Kosárba<mat-icon>shopping_cart</mat-icon></button>
        </div>
        </mat-card>
      </div>
    <div class="menu-category">
      <hr>
      <h2>Szószok</h2>
      <hr>
    </div>
    <div class="menu-container" >
      <mat-card class="menu-item" *ngFor="let sauce of sauces">
        <img src="../../assets/img/coleslaw.png">
        <h3>{{sauce.name}}</h3>
        <p>{{sauce.description}}</p>
        <p class="price">{{sauce.price}} Ft.</p>
        <div>
          <button mat-button (click)="addToCart(sauce.id)">Kosárba<mat-icon>shopping_cart</mat-icon></button>
        </div>
        </mat-card>
      </div>



</div>
