<div class="menu-category">
  <hr>
  <h2>Hamburgerek</h2>
  <hr>
</div><div class="menu-container">
  <mat-card class="menu-item">
    <img src="../../assets/img/burger.png">
    <h3>Dupla sajtburger</h3>
    <p>Szezámos buci, <span>2db 100% marhahúspogácsa</span>, <span>2db cheddar sajt</span>, paradicsom, jégsaláta, uborka, lilahgymalekvár, Burger Szósz, Cheddar sajtszósz</p>
    <p class="price">1890 Ft.</p>
    <!--<div>
      <p>+ Kis hasábburgonya, 0.3l üdítő, választható szósz <span>+ 600 Ft</span></p>
      <p>+ Nagy hasábbrgyona vagy édesburgonya vagy káposztasaláta,0.5l üdíő, választható szósz.<span>+1000 Ft.</span></p>
    </div> -->
    <div>
      <button mat-button>Kosárba <mat-icon>shopping_cart</mat-icon></button>
      <button mat-button (click)="openDialog()">Kérd menüben! <mat-icon>menu</mat-icon></button>
    </div>
  </mat-card>
  <mat-card class="menu-item">
    <img src="../../assets/img/burger.png">
    <h3>Dupla sajtburger</h3>
    <p>Szezámos buci, <span>2db 100% marhahúspogácsa</span>, <span>2db cheddar sajt</span>, paradicsom, jégsaláta, uborka, lilahgymalekvár, Burger Szósz, Cheddar sajtszósz</p>
    <p class="price">1890 Ft.</p>
    <!--<div>
      <p>+ Kis hasábburgonya, 0.3l üdítő, választható szósz <span>+ 600 Ft</span></p>
      <p>+ Nagy hasábbrgyona vagy édesburgonya vagy káposztasaláta,0.5l üdíő, választható szósz.<span>+1000 Ft.</span></p>
    </div> -->
    <div>
      <button mat-button>Kosárba <mat-icon>shopping_cart</mat-icon></button>
      <button mat-button (click)="openDialog()">Kérd menüben! <mat-icon>menu</mat-icon></button>
    </div>
  </mat-card>
  <mat-card class="menu-item">
    <img src="../../assets/img/burger.png">
    <h3>Dupla sajtburger</h3>
    <p>Szezámos buci, <span>2db 100% marhahúspogácsa</span>, <span>2db cheddar sajt</span>, paradicsom, jégsaláta, uborka, lilahgymalekvár, Burger Szósz, Cheddar sajtszósz</p>
    <p class="price">1890 Ft.</p>
    <!--<div>
      <p>+ Kis hasábburgonya, 0.3l üdítő, választható szósz <span>+ 600 Ft</span></p>
      <p>+ Nagy hasábbrgyona vagy édesburgonya vagy káposztasaláta,0.5l üdíő, választható szósz.<span>+1000 Ft.</span></p>
    </div> -->
    <div>
      <button mat-button>Kosárba <mat-icon>shopping_cart</mat-icon></button>
      <button mat-button (click)="openDialog()">Kérd menüben! <mat-icon>menu</mat-icon></button>
    </div>
  </mat-card>
  <mat-card class="menu-item">
    <img src="../../assets/img/burger.png">
    <h3>Dupla sajtburger</h3>
    <p>Szezámos buci, <span>2db 100% marhahúspogácsa</span>, <span>2db cheddar sajt</span>, paradicsom, jégsaláta, uborka, lilahgymalekvár, Burger Szósz, Cheddar sajtszósz</p>
    <p class="price">1890 Ft.</p>
    <!--<div>
      <p>+ Kis hasábburgonya, 0.3l üdítő, választható szósz <span>+ 600 Ft</span></p>
      <p>+ Nagy hasábbrgyona vagy édesburgonya vagy káposztasaláta,0.5l üdíő, választható szósz.<span>+1000 Ft.</span></p>
    </div> -->
    <div>
      <button mat-button>Kosárba <mat-icon>shopping_cart</mat-icon></button>
      <button mat-button (click)="openDialog()">Kérd menüben! <mat-icon>menu</mat-icon></button>
    </div>
  </mat-card>
  <mat-card class="menu-item">
    <img src="../../assets/img/burger.png">
    <h3>Dupla sajtburger</h3>
    <p>Szezámos buci, <span>2db 100% marhahúspogácsa</span>, <span>2db cheddar sajt</span>, paradicsom, jégsaláta, uborka, lilahgymalekvár, Burger Szósz, Cheddar sajtszósz</p>
    <p class="price">1890 Ft.</p>
    <!--<div>
      <p>+ Kis hasábburgonya, 0.3l üdítő, választható szósz <span>+ 600 Ft</span></p>
      <p>+ Nagy hasábbrgyona vagy édesburgonya vagy káposztasaláta,0.5l üdíő, választható szósz.<span>+1000 Ft.</span></p>
    </div> -->
    <div>
      <button mat-button>Kosárba <mat-icon>shopping_cart</mat-icon></button>
      <button mat-button (click)="openDialog()">Kérd menüben! <mat-icon>menu</mat-icon></button>
    </div>
  </mat-card>
  </div>
