.mat-icon{
  cursor: pointer;
}
.cart-menu{
  min-width: 500px;
}
.items-in-cart{
  padding: 15px;
  display: flex;
  flex-direction: column;
  color: black;
  .item{
    display: flex;
    flex-direction: row;
    flex-basis: content;
    justify-content: space-between;
    h4{
      margin-right: 10px;
      font-weight: 800;
      font-size: 20px;
    }
    p{
      font-weight: 300;
      font-size: 18px;
    }
  }
  hr{
    height: 5px;
    border: none;
    background-color: var(--yellow);
  }
  h4{
    margin-top: 3%;
    font-size: 20px;
    font-weight: 800;
    span{
      color: var(--yellow);
    }
  }
  button{
    background: var(--yellow);
    color: white;
    font-weight: 600;

  }
}
.empty{
  padding: 5%;
  h4{
    color: black;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
  }
}


