<mat-card class="cart-container">
  <h2>Kosár</h2>
  <hr>
  <div class="elements">
    <div *ngFor="let item of items" class="element">
      <img src="../../assets/img/burger.png">
      <div class="middle">
        <h3>{{item.name}}</h3>
        <h4>{{item.description}}</h4>
      </div>
      <div class="end">
        <a (click)="deleteItem(item)">Törlés</a>
        <p>{{item.price}} Ft.</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="summary">
    <h4>Végösszeg:</h4>
    <h3>{{this.summary}} Ft.</h3>
  </div>
  <div class="btns" *ngIf="this.items.length >= 1">
    <a routerLink="/address-form"><button  mat-button >Fizetés</button></a>
    <button mat-button (click)="clearCart()">Kosár kiürítése</button>
  </div>
</mat-card>
