<mat-card class="cart-container">
  <h2>Kosár</h2>
  <hr>
  <div class="elements">
    <div class="element">
      <img src="../../assets/img/burger.png">
      <div class="middle">
        <h3>Termék neve</h3>
        <h4>Leírás</h4>
      </div>
      <div class="end">
        <a>Törlés</a>
        <p>1590 Ft.</p>
      </div>
    </div>
    <div class="element">
      <img src="../../assets/img/burger.png">
      <div class="middle">
        <h3>Termék neve</h3>
        <h4>Leírás</h4>
      </div>
      <div class="end">
        <a>Törlés</a>
        <p>1590 Ft.</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="summary">
    <h4>Végösszeg:</h4>
    <h3>4000 Ft.</h3>
  </div>
  <div class="btns">
    <button mat-button>Fizetés</button>
    <button mat-button>Kosár kiürítése</button>
  </div>
</mat-card>
