.container{
  margin: 5% 15%;
  padding: 3%;
  h2{
    font-size: 1.6rem;
    margin: 5% 0;
    text-align: center;
  }
  form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10%;
    .btns{
      margin-top: 5%;
      button{
        background-color: var(--yellow);
        color: white;
      }
    }
  }
}
